<div class="port-title">
	<h3>Portfolio</h3>
</div>
<div class="portfolio">
	<div class="card">
		<figure>
			<img src="../img/pro_one.png" alt="project1">
			<figcaption>Project 1</figcaption>
		</figure>
	</div>
	<div class="card">
		<figure>
			<img src="../img/pro_two.png" alt="project2">
			<figcaption>Project 2</figcaption>
		</figure>
	</div>
	<div class="card">
		<figure>
			<img src="../img/pro_three.png" alt="project3">
			<figcaption>Project 3</figcaption>
		</figure>
	</div>
	<div class="card">
		<figure>
			<img src="../img/pro_four.jpg" alt="project4">
			<figcaption>Project 4</figcaption>
		</figure>
	</div>
	<div class="card">
		<figure>
			<img src="../img/pro_five.png" alt="project5">
			<figcaption>Project 5</figcaption>
		</figure>
	</div>
	<div class="card">
		<figure>
			<img src="../img/pro_six.png" alt="project6">
			<figcaption>Project 6</figcaption>
		</figure>
	</div>
</div>
<hr>